extends layout

block content
  #root
  //https://unpkg.com/react@17/umd/react.production.min.js
  //https://unpkg.com/react-dom@17/umd/react-dom.production.min.js
  script(src="https://unpkg.com/react@17/umd/react.development.js", crossorigin='true') 
  script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js", crossorigin='true')
  script(src='/javascripts/evaluator.js')
